@import './fonts';
@import './null';
@import './var';

.main {
    height: 100vh;
    @media (max-width: 991.98px) {
        height: 100%;
    }
}

.main {

    // .main__quiz

    &__quiz {
        display: flex;
        height: 100%;
    }
}
.quiz {
    overflow: hidden;

    // .quiz__preview

    &__preview {
        position: relative;
        flex: 0 0 50%;
        height: 100%;
        transition: flex ease .4s;
    }

    // .quiz__content

    &__content {
        @media (min-width: 991.98px) {
            flex: 0 0 100%;
            transform: translateX(-50%);
            transition: transform ease .4s, flex ease .4s, width ease .4s;
        }
        @media (max-width: 991.98px) {
            width: 100%;
        }
    }

    // .quiz__container

    &__container {
        width: 100%;
        display: flex;
        @media (min-width: 991.98px) {
            justify-content: flex-end;
        }
        height: 100%;
    }

    // .quiz__body

    &__body {
        display: flex;
        align-items: flex-start;
        transition: flex ease .4s;
        @media (min-width: 991.98px) {
            flex: 0 0 50%;
        }

        @media (max-width: 991.98px) {
            width: 100%;
        }
    }

    &__button-next {
        margin-top: 30px;
    }

    &__question {
        font-weight: 700;
        font-size: 48px;
        line-height: 123%;
        color: $dark-blue;
        max-width: 95vw;

        @media (max-width: 1200px) {
            font-size: calc(24px + (48 - 24) * ( (100vw - 320px) / (1200 - 320)));
        }
    }
}
.quiz-preview {
    @media (max-width: 991.98px) {
        display: none;
    }

    // .quiz-preview__image
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;

        transition: opacity ease-in-out $animSpeed;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            padding-right: 53px;
            @media (max-width: 1400px) {
                padding-right: calc(24px + (53 - 24) * ( (100vw - 991.98px) / (1400 - 991.98)));
            }
        }

        &_current {
            opacity: 1;
        }
    }
}

.quiz-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 47px;
    overflow: auto;
    height: 100%;
    &::-webkit-scrollbar {
        width: 8px;
    } 
    &::-webkit-scrollbar-track {
        background: #D2E5E9;
        border-radius: 14px ;

        @media (max-width: 1200px) {    
            border-radius: calc(6px + (14 - 6) * ( (100vw - 320px) / (1200 - 320)));
        }
    }
    &::-webkit-scrollbar-thumb {
        background: $dark-blue;
        border-radius: 14px ;

        @media (max-width: 1200px) {    
            border-radius: calc(6px + (14 - 6) * ( (100vw - 320px) / (1200 - 320)));
        }
    }

    transition:  margin ease .4s;

    padding: 50px 0;
    @media (max-width: 1400px) {
        margin-left: calc(20px + (47 - 20) * ( (100vw - 991.98px) / (1400 - 991.98)));
    }
    @media (max-width: 991.98px) {
        padding-top: calc(20px + (50 - 20) * ( (100vw - 320px) / (991.98 - 320)));
        padding-bottom: calc(20px + (50 - 20) * ( (100vw - 320px) / (991.98 - 320)));

        margin-left: 0;
        overflow: visible;
    }
    .featured, .filter {
        max-width: 0px;
        transition: max-width ease-in-out .4s;
        margin-top: 50px;
        overflow: hidden;

        .featured__title {
            margin-top: 0;
            margin-bottom: 24px;
        }

        //display: none;
    }
    .featured {
        @media (max-width: 991.98px) {
            margin-top: calc(30px + (50 - 30) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .quiz-content__section

    &__section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        display: flex;
        flex-direction: column;

        transition: opacity ease-in-out $animSpeed, transform ease-in-out $animSpeed;

        transform: translateY(40px);
        pointer-events: none;
        opacity: 0;
        height: 0;

        // .quiz-content__section_current

        &_current {
            opacity: 1;
            position: static;
            transition-delay: $animSpeed;

            transform: translateY(0px);
            pointer-events: all;
            height: auto;
            width: auto;
        }
        &_address {
            button {
                max-width: 250px;
                @media (max-width: 991.98px) {
                    max-width: none;
                }
                width: 100%;
                margin-right: auto;
            }
        }
    }

    &__body {
        position: relative;
    }
}

.quiz-navigation {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-bottom: 24px;

    @media (max-width: 991.98px) {
        margin-bottom: calc(14px + (24 - 14) * ( (100vw - 320px) / (991.98 - 320)));
    }

    // .quiz-navigation__button

    &__button {
        width: 80px;
        height: 80px;

        @media (max-width: 991.98px) {
            width: calc(60px + (80 - 60) * ( (100vw - 320px) / (991.98 - 320)));
            height: calc(60px + (80 - 60) * ( (100vw - 320px) / (991.98 - 320)));
        }
        border-radius: 50%;
        border: 1px solid $grey;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        transition: background-color ease-in-out $animSpeed;

        img {
            height: 30px;
            transform: rotate(-90deg);
            pointer-events: none;
        }

        &:hover {
            background-color: #f7f7f7;
        }
    }

    // .quiz-navigation__steps

    &__steps {
        font-weight: 500;
        font-size: 24px;
        line-height: 118%;
        @media (max-width: 991.98px) {
            font-size: calc(16px + (24 - 16) * ( (100vw - 320px) / (991.98 - 320)));
        }

        color: #424242;
    }
}

.quiz.finish {
    @media (min-width: 991.98px) {
        .quiz__body {
            flex: 0 0 100%;
        }
        .quiz__preview {
            flex: 0 0 0%;
        }
        .quiz__content {
            transform: translateX(0%);
        }
        .quiz-content {
            margin: 0;
        }
    }
    .featured, .filter {
        position: static;
        transition-delay: .4s;
        max-width: 1340px;
        overflow: visible;
    }
    .quiz-content {
        overflow: visible;
    }
}

.button-dark {
    min-height: 70px;
    @media (max-width: 1200px) {
        min-height: calc(64px + (70 - 64) * ( (100vw - 320px) / (1200 - 320)));
    }
}

.quiz-cards {
    margin-top: 50px;

    // .quiz-cards__list

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 34px;
        column-gap: auto;

        @media (max-width: 1200px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 991.98px) {
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: calc(14px + (34 - 14) * ( (100vw - 320px) / (991.98 - 320)));
        }
        @media (max-width: 567.98px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    // .quiz-cards__input

    &__input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    // .quiz-cards__card

    &__card {
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: center;
        cursor: pointer;

        &:hover  {
            img {
                transform: scale(1.05);
            }
        }
        @media (max-width: 567.98px) {
            &:nth-child(2n) {
                margin-left: auto;
            }
        }
        width: 150px;

        @media (max-width: 991.98px) {
            width: calc(124px + (150 - 124) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .quiz-cards__preview

    &__preview {
        pointer-events: none;
        height: 150px;
        @media (max-width: 991.98px) {
            height: calc(124px + (150 - 124) * ( (100vw - 320px) / (991.98 - 320)));
        }
        border-radius: 14px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            transition:  transform ease-in-out $animSpeed;
        }
    }

    // .quiz-cards__title

    &__title {
        pointer-events: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        @media (max-width: 991.98px) {
            font-size: calc(16px + (20 - 16) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }
}

.quiz-plans {
    margin-top: 100px;
    @media (max-width: 991.98px) {
        margin-top: calc(50px + (100 - 50) * ( (100vw - 320px) / (991.98 - 320)));
    }

    // .quiz-plans__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    // .quiz-plans__input

    &__input {
        position: absolute;
        pointer-events: none;
        opacity: 0;
    }

    // .quiz-plans__card

    &__card {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.button-dark {
}


.quiz-range {
    margin-top: 70px;
    margin-bottom: 46px;
    @media (max-width: 991.98px) {
        margin-top: calc(50px + (70 - 50) * ( (100vw - 320px) / (991.98 - 320)));
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media (max-width: 991.98px) {
        gap: calc(14px + (30 - 14) * ( (100vw - 320px) / (991.98 - 320)));
    }

    // .quiz-range__head

    &__head {
        display: flex;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        color: $dark-blue;
        @media (max-width: 991.98px) {
            font-size: calc(40px + (64 - 40) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .quiz-range__range

    &__range {
        display: block;
        width: 100%;
        position: relative;
    }

    // .quiz-range__line

    &__line {
        display: flex;
        height: 12px;
        width: 100%;
        border-radius: 5px;
        background-color: $dark-blue;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        pointer-events: none;
    }

    // .quiz-range__input

    &__input {
        display: block;
        width: 100%;
        appearance: none;
        background-color: transparent;
        cursor: grab;

        &::-webkit-slider-thumb {
            appearance: none;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $dark-blue;

            background-position: center;
            background-size: cover;
            border: 4px solid #EBEBEB;
        }
    }
}

.popup-form {
    margin-top: 50px;
    &__body {
        gap: 24px;

        @media (max-width: 1400px) {
            display: flex;
            flex-direction: column;
        }
    }

    &_sell {
        .popup-form__body {
            display: flex;
            align-items: flex-start;
        }
        .popup-form__field {
            width: 100%;
            position: relative;
        }
        label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 24px;
        }
        input {
            width: 100%;
        }
    }
}