@import './fonts';
@import './null';
@import './var';
@import './ui';


.header {
    z-index: 99;

    @media (min-width: 767.98px) {
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
    }

    @media (max-width: 767.98px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 52px 0;
    }

    &__container {
        @media (max-width: 767.98px) {
            display: flex;
            justify-content: flex-end;
        }
    }

    // .header__navigation

    &__navigation {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    // .header__contact

    &__contact {
        display: flex;
        justify-content: center;
        white-space: nowrap;

        font-weight: 500;
        font-size: 24px;
        @media (max-width: 991.98px) {
            font-size: calc(18px + (24 - 18) * ( (100vw - 320px) / (991.98 - 320)));
        }
        line-height: 28px;
        color: $grey;
        transition: color ease-in-out $animSpeed;

        &:hover {
            color: $focus;
        }
        @media (min-width: 767.98px) {
            margin-left: auto;
        }
        @media (max-width: 767.98px) {
            font-size: 24px;
            color: #798A9E;
        }
    }
}
.header-menu-burger {
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
    border-radius: 14px;
    border: 1px solid #BFBFBF;
    backdrop-filter: blur(2px);

    &__wrapper {
        display: grid;
        align-items: center;
        column-gap: 50px;
        grid-template-columns: 1fr auto 1fr;
        min-height: 100px;
    
        padding: 12px 34px;
    
        @media (max-width: 991.98px) {
            padding-left: calc(12px + (34 - 12) * ( (100vw - 767.98px) / (991.98 - 767.98)));
            padding-right: calc(12px + (34 - 12) * ( (100vw - 767.98px) / (991.98 - 767.98)));
    
            column-gap: calc(40px + (50 - 40) * ( (100vw - 767.98px) / (991.98 - 767.98)));
        }

    }

    @media (max-width: 767.98px) {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;

        background-color: $dark-blue;

        transform: translateY(-120%);
        transition: transform ease-in-out .2s;

        border-radius: 0;
        border: 1px solid transparent;   

        padding-top: 125px;

        &__wrapper {
 
            overflow: auto;
            height: 100%;
    
            display: flex;
            flex-direction: column;
            gap: 70px;
            padding: 30px 0;
            transition: transform cubic-bezier(0.68, -0.6, 0.32, 1.6) .24s;
            transition-delay: .1s;

            transform: translateY(-30%);
        }
    }
}
.logo {
    max-width: 128px;
    min-width: 100px;
    svg {
        width: 100%;
        @media (max-width: 767.98px) {
            path {
                fill: $white;
            }
        }
    }

    @media (max-width: 767.98px) {
        max-width: 190px;
    }
}
.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 16px;

    @media (max-width: 991.98px) {
        gap: calc(40px + (50 - 40) * ( (100vw - 767.98px) / (991.98 - 767.98)));
    }

    @media (max-width: 767.98px) {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    // .header-list__el

    &__el {

        // .header-list__el_current

        &_current {
            .header-list__link {
                font-weight: 700;
                color: $dark-blue;
                @media (max-width: 767.98px) {
                    color: $white;
                }
            }
            pointer-events: none;
        }

        &:hover {
            a {
                color: $focus;
            }
        }
    }

    // .header-list__link

    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 125%;
        color: $grey;
        @media (max-width: 767.98px) {
            font-size: 36px;
            color: #798A9E;
        }

        transition: color ease-in-out $animSpeed, font-weight ease-in-out $animSpeed;
    }
}
.burger-btn {
    @media (min-width: 767.98px) {
        display: none;
    }

    display: flex;
    z-index: 9999;
    margin-left: auto;

    &__button {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 50px;
        height: 50px;
        gap: 8px;
        z-index: 9999;
        span {
            display: block;
    
            transition: width cubic-bezier(0.68, -0.6, 0.32, 1.6) .3s, transform cubic-bezier(0.68, -0.6, 0.32, 1.6) $animSpeed, background-color ease-in-out .3s;
            height: 3px;
            width: 100%;
            background-color: $grey;
    
            &:nth-child(2) {
                width: 39px;
            }
        }
    }
}
.header-menu-burger._opened {
    @media (max-width: 767.98px) {
        pointer-events: all;
        transform: translateY(0);

        .header-menu-burger__wrapper {
            transform: translateY(0%);
        }
    }
}
.burger-btn.active {
    //background-color: aquamarine;
    span {
        background-color: $white;

        &:nth-child(1) {
            width: 100%;
            transform: rotate(-45deg) translate(-3px, 5px);
        }
        &:nth-child(2) {
            width: 100%;
            transform: rotate(45deg) translate(-3px, -4px);
        }
    }
}
.header.fixed {
    @media (min-width: 767.98px) {
        position: fixed;
        left: 0;
        top: -120px;
        width: 100%;
        transition: transform ease-in-out $animSpeed;
    }
}
.header.show-header {
    @media (min-width: 767.98px) {
        transform: translateY(130px);  
    }
}


.main {

    // .main__hero

    &__hero {
        padding: 20px;
        @media (max-width: 767.98px) {
            padding: 0;
        }
    }
}
.hero {

    // .hero__wrapper

    &__wrapper {
        overflow: hidden;
        border-radius: 25px;
        @media (max-width: 767.98px) {
            border-radius: 0;
        }
        max-width: 1472px;
        margin: 0 auto;

        position: relative;
        z-index: 10;

        background-color: #E2F1FE;

        @media (max-width: 991.98px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    // .hero__bg

    &__bg {
        width: 100%;
        height: 100%;
        z-index: -1;

        position: absolute;

        top: 0;
        right: 0;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top right;

            @media (max-width: 767.98px) {
                width: 130%;
            }
            @media (max-width: 480px) {
                width: 160%;
                object-position: top right;
            }
        }
    }

    // .hero__decor

    &__decor {
        position: absolute;
        height: 100%;
        width: 54%;
        top: 0;
        right: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: right bottom;
        }

        @media (max-width: 991.98px) {
            position: static;
            margin-left: auto;
            width: 70%;
            img {
                object-fit: cover;
                object-position: right top;
            }
            height: 400px;
        }
        @media (max-width: 655.98px) {
            width: 80%;

            height: calc(270px + (400 - 270) * ( (100vw - 320px) / (655.98 - 320)));

            img {
                object-fit: contain;
                object-position: right bottom;
            }
        }
    }

    // .hero__content

    &__content {
        display: flex;
        justify-content: center;

        .hero__container {
            width: 100%;
        }
    }
}

.hero-article {
    min-height: 750px;
    z-index: 999;
    @media (max-width: 991.98px) {
        min-height: 0;
    }

    // .hero-article__body

    &__body {
        width: 51.5%;
        @media (max-width: 991.98px) {
            width: 100%;
            padding-bottom: 0px;

            padding-top: 190px;
        }
        @media (max-width: 767.98px) {
            padding-top: 164px;
        }
        height: 100%;
        padding: 220px 0 60px 0;

        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: auto;
        gap: 24px;

        max-width: 450px;
    }

    // .hero-article__title

    &__title {
        font-weight: 700;
        font-size: 64px;
        @media (max-width: 1200px) {
            font-size: calc(44px + (64 - 44) * ( (100vw - 320px) / (1200 - 320)));
        }

        @media (max-width: 480px) {
            text-align: center;
            width: 100%;
        }
    }

    // .hero-article__paragraph

    &__paragraph {
        font-weight: 400;
        font-size: 18px;
        @media (max-width: 1200px) {
            font-size: calc(16px + (18 - 16) * ( (100vw - 320px) / (1200 - 320)));
        }
        line-height: 125%;
        color: #424242;

        @media (max-width: 480px) {
            text-align: center;
            width: 100%;
        }
    }

    // .hero-article__buttons

    &__buttons {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        @media (max-width: 1200px) {
            gap: calc(14px + (24 - 14) * ( (100vw - 320px) / (1200 - 320)));
        }
    }

    // .hero-article__button

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
    }
}

.main {

    // .main__filter

    &__filter {
        margin-top: 150px;
        overflow: hidden;
        @media (max-width: 991.98px) {
            margin-top: calc(50px + (150 - 50) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }
}
.filter {

    // .filter__title

    &__title {
        margin-bottom: 14px;
        @media (max-width: 991.98px) {
            margin-bottom: calc(24px + (14 - 24) * ( (100vw - 320px) / (991.98 - 320)));
            font-size: calc(24px + (40 - 24) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }
}
.filter-slider {
    //overflow: hidden;

    .swiper-wrapper {
        display: flex;
        width: 100%;
    }
}

.filter-card {
    width: 300px;
    flex-shrink: 0;
    @media (max-width: 991.98px) {
        width: calc(140px + (300 - 140) * ( (100vw - 320px) / (991.98 - 320)));
    }

    &:hover {
        .filter-card__preview {
            img {
                transform: scale(1.05);
            }
        }
        .filter-card__title {
            color: $dark-blue;
        }
    }

    // .filter-card__preview

    &__preview {
        width: 100%;
        height: 280px;
        @media (max-width: 991.98px) {
            height: calc(120px + (280 - 120) * ( (100vw - 320px) / (991.98 - 320)));
            border-radius: calc(9px + (22 - 9) * ( (100vw - 320px) / (991.98 - 320)));
        }
        border-radius: 22px;
        overflow: hidden;

        img {
            transition: transform ease-in-out .3s;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    // .filter-card__title

    &__title {
        font-weight: 500;
        font-size: 32px;
        @media (max-width: 991.98px) {
            font-size: calc(14px + (32 - 14) * ( (100vw - 320px) / (991.98 - 320)));            
            
            margin-left: calc(10px + (20 - 10) * ( (100vw - 320px) / (991.98 - 320)));
            margin-right: calc(10px + (20 - 10) * ( (100vw - 320px) / (991.98 - 320)));
        }
        line-height: 120%;
        color: $grey;
        transition: color ease-in-out $animSpeed;
        margin: 14px 20px;

    }
}

.featured {
    margin-top: 24px;
    overflow: hidden;

    // .featured__title

    &__title {
        @extend .filter__title;

        margin: 50px 0;
        @media (max-width: 1200px) {
            margin-top: calc(6px + (50 - 6) * ( (100vw - 320px) / (1200 - 320)));
            margin-bottom: calc(24px + (50 - 24) * ( (100vw - 320px) / (1200 - 320)));
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 118px;
        @media (max-width: 1500px) {
            column-gap: calc(24px + (118 - 24) * ( (100vw - 480px) / (1500 - 480)));
        }
        @media (max-width: 991.98px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 480px) {
            display: flex;
            flex-direction: column;
            row-gap: calc(24px + (50 - 24) * ( (100vw - 320px) / (480 - 320)));
        }
        row-gap: 50px;

        .featured-card {
            width: auto;
            display: none;
            &:nth-child(-n + 6) {
                display: flex;
            }
            @media (max-width: 991.98px) {
                display: none;
                &:nth-child(-n + 6) {
                    display: none;
                }
                &:nth-child(-n + 4) {
                    display: flex;
                }
            }
            @media (max-width: 480px) {
                display: none;
                &:nth-child(-n + 4) {
                    display: none;
                }
                &:nth-child(-n + 2) {
                    display: flex;
                }
            }

            .featured-card__preview {
                height: 300px;
                @media (max-width: 991.98px) {
                    height: calc(230px + (300 - 230) * ( (100vw - 320px) / (991.98 - 320)));
                }
            }
        }
    }
}
.featured-card {
    display: flex;
    flex-direction: column;
    width: 372px;
    @media (max-width: 991.98px) {
        width: calc(190px + (372 - 190) * ( (100vw - 320px) / (991.98 - 320)));
    }
    &:hover {
        .featured-card__preview {
            img {
                transform: scale(1.05);
            }
        }
        .featured-card__title {
            color: $dark-blue;
        }
    }

    // .featured-card__preview

    &__preview {
        height: 346px;
        @media (max-width: 991.98px) {
            height: calc(180px + (346 - 180) * ( (100vw - 320px) / (991.98 - 320)));
            border-radius: calc(10px + (20 - 10) * ( (100vw - 320px) / (991.98 - 320)));
        }
        border-radius: 20px;
        overflow: hidden;

        img {
            transition: transform ease-in-out .3s;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    // .featured-card__body

    &__body {
        padding: 14px 20px;
        padding-bottom: 0;
        @media (max-width: 991.98px) {
            padding-left: calc(10px + (20 - 10) * ( (100vw - 320px) / (991.98 - 320)));
            padding-right: calc(10px + (20 - 10) * ( (100vw - 320px) / (991.98 - 320)));
        }

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    // .featured-card__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        @media (max-width: 991.98px) {
            font-size: calc(12px + (18 - 12) * ( (100vw - 320px) / (991.98 - 320)));
        }
        line-height: 118%;
        color: #424242;
    }

    // .featured-card__title

    &__title {
        font-weight: 600;
        font-size: 32px;
        @media (max-width: 991.98px) {
            font-size: calc(20px + (32 - 20) * ( (100vw - 320px) / (991.98 - 320)));
        }
        line-height: 119%;
        color: $grey;

        transition: color ease-in-out $animSpeed;
        margin: 4px 0;
    }

    // .featured-card__price

    &__price {
        margin-top: 10px;
        @media (max-width: 991.98px) {
            margin-top: calc(0px + (10 - 0) * ( (100vw - 320px) / (991.98 - 320)));
        }
        font-weight: 600;
        font-size: 20px;
        @media (max-width: 991.98px) {
            font-size: calc(14px + (20 - 14) * ( (100vw - 320px) / (991.98 - 320)));
        }
        line-height: 120%;
        color: $dark-blue;
    }

    &__button {
        margin-top: 14px;

        height: 70px;
        border-radius: 7px;
        border: 1px solid $dark-blue;

        @media (max-width: 991.98px) {
            height: calc(60px + (70 - 60) * ( (100vw - 320px) / (991.98 - 320)));
            font-size: calc(21px + (24 - 21) * ( (100vw - 320px) / (991.98 - 320)));
        }

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 20px;
        background-color: transparent;

        font-weight: 600;
        font-size: 24px;
        color: $dark-blue;

        transition: color ease-in-out $animSpeed, background-color ease-in-out $animSpeed;

        &:hover {
            background-color: $dark-blue;
            color: $white;
        }
    }
}

.main {

    // .main__meet

    &__meet {
        margin-top: 150px;
        @media (max-width: 1200px) {
            margin-top: calc(50px + (150 - 50) * ( (100vw - 320px) / (1200 - 320)));
        }
    }
}
.meet {

    // .meet__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        @media (max-width: 991.98px) {
            gap: calc(0px + (50 - 0) * ( (100vw - 320px) / (991.98 - 320)));
        }
        @media (max-width: 767.98px) {
            flex-direction: column-reverse;
        }
    }

    // .meet__content

    &__content {
        max-width: 568px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: 767.98px) {
            max-width: none;
            width: 100%;
        }
    }

    // .meet__title

    &__title {
        @media (max-width: 991.98px) {
            font-size: calc(24px + (40 - 24) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .meet__paragraph

    &__paragraph {
        @media (max-width: 991.98px) {
            font-size: calc(14px + (20 - 14) * ( (100vw - 320px) / (991.98 - 320)));
        }
        .bold {
            color: $dark-blue;
            font-weight: 600;
        }
    }

    &__contact {
        margin-top: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $grey;
    }
}
.meet-article {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (max-width: 991.98px) {
        gap: calc(8px + (24 - 14) * ( (100vw - 320px) / (991.98 - 320)));
    }
    @media (max-width: 767.98px) {
        display: none;
    }
}
.meet-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 40px;
    @media (max-width: 1200px) {
        margin-top: calc(24px + (40 - 24) * ( (100vw - 320px) / (1200 - 320)));
    }

    // .meet-form__input

    &__input {
        width: 100%;
        margin-bottom: 10px;

        border-bottom: 1px solid $grey;
        font-weight: 400;
        font-size: 18px;
        padding: 20px 0;
        border-radius: 0px;

        @media (max-width: 991.98px) {
            padding-top: calc(8px + (20 - 8) * ( (100vw - 320px) / (991.98 - 320)));
            padding-bottom: calc(8px + (20 - 8) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .meet-form__button

    &__button {
        margin-top: 40px;
        @media (max-width: 1200px) {
            margin-top: calc(24px + (40 - 24) * ( (100vw - 320px) / (1200 - 320)));
        }
        @media (max-width: 767.98px) {
            width: 100%;
        }
    }
}
.meet-preview {
    @media (max-width: 767.98px) {
        display: flex;
        align-items: center;
        gap: calc(12px + (20 - 12) * ( (100vw - 320px) / (767.98 - 320)));
    }

    .meet-article {
        display: none;
        @media (max-width: 767.98px) {
            display: flex;
        }
    }

    // .meet-preview__image

    &__image {
        max-width: 500px;
        min-width: 312px;
        overflow: hidden;
        border-radius: 20px;
        @media (max-width: 991.98px) {
            border-radius: calc(8px + (20 - 14) * ( (100vw - 320px) / (991.98 - 320)));
        }

        @media (max-width: 767.98px) {
            max-height: 400px;
            display: flex;
            min-width: 0px;
            flex: 1 0 36%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.main {

    // .main__summary

    &__summary {
        margin-top: 150px;
        @media (max-width: 1200px) {
            margin-top: calc(50px + (150 - 50) * ( (100vw - 320px) / (1200 - 320)));
        }
    }
}
.summary {

    // .summary__container

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
    }

    // .summary__title

    &__title {
        margin-bottom: 50px;
        @media (max-width: 1200px) {
            margin-bottom: calc(24px + (50 - 24) * ( (100vw - 320px) / (1200 - 320)));
        }
        @media (max-width: 991.98px) {
            font-size: calc(24px + (40 - 24) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .summary__paragraph

    &__paragraph {
        margin-bottom: 37px;
        @media (max-width: 1200px) {
            margin-bottom: calc(14px + (37 - 14) * ( (100vw - 320px) / (1200 - 320)));
        }
        @media (max-width: 991.98px) {
            font-size: calc(18px + (20 - 18) * ( (100vw - 320px) / (991.98 - 320)));
        }

        .bold {
            color: $grey;
            font-weight: 600;
        }
    }
}
.summary-preview {
    display: grid;
    grid-template-rows: 20px auto 20px auto 20px auto auto;
    column-gap: 20px;
    max-width: 520px;

    grid-template-areas: 'top-left .' 'top-left top-right' '. top-right' 'bottom-left top-right' 'bottom-left .' 'bottom-left bottom-right' '. bottom-right';

    @media (max-width: 991.98px) {
        display: none;
    }

    // .summary-preview__image

    &__image {
        overflow: hidden;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        // .summary-preview__image_left-top

        &_left-top {
            grid-area: top-left;
        }

        // .summary-preview__image_right-top

        &_right-top {
            grid-area: top-right;
        }

        // .summary-preview__image_left-bottom

        &_left-bottom {
            grid-area: bottom-left;
        }

        // .summary-preview__image_right-bottom

        &_right-bottom {
            grid-area: bottom-right;
        }
    }
}
.summary-content {
    max-width: 570px;
    flex: 0 0 46%;
    @media (max-width: 991.98px) {
        max-width: none;
        flex: 1 1 auto;
    }

    // .summary-content__button

    &__button {
        margin-top: 33px;
        @media (max-width: 1200px) {
            margin-top: calc(10px + (33 - 10) * ( (100vw - 320px) / (1200 - 320)));
        }
        @media (max-width: 991.98px) {
            width: 100%;
        }
    }
}

.main {

    // .main__sell-card

    &__sell-card {
        margin-top: 220px;

        @media (max-width: 991.98px) {
            margin-top: calc(50px + (150 - 50) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }
}
.sell-card {


    // .sell-card__wrapper

    &__wrapper {
        position: relative;
        z-index: 10;

    }

    // .sell-card__decor

    &__decor {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        max-height: 630px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center bottom;
        }

        @media (max-width: 991.98px) {
            display: none;
        }
    }

    // .sell-card__card

    &__card {
        background-color: #E3EEF0;
        border-radius: 20px;
        overflow: hidden;
        height: 409px;
        @media (max-width: 991.98px) {
            border-radius: calc(14px + (20 - 14) * ( (100vw - 320px) / (991.98 - 320)));
        }
        @media (max-width: 767.98px) {
            height: calc(300px + (409 - 300) * ( (100vw - 320px) / (991.98 - 480)));
        }
        @media (max-width: 480px) {
            height: auto;
        }
    }
}
.sell-window {
    position: relative;

    // .sell-window__decor-orange

    &__decor-orange {
        position: absolute;
        width: 454px;
        height: 454px;
        left: -13px;
        bottom: -140px;
        border-radius: 50%;
        background-color: #FFAA5C;

        @media (max-width: 991.98px) {
            width: calc(172px + (454 - 172) * ( (100vw - 320px) / (991.98 - 320)));
            height: calc(172px + (454 - 172) * ( (100vw - 320px) / (991.98 - 320)));

            left: calc(-52px + (-13 + 52) * ( (100vw - 320px) / (991.98 - 320)));
            bottom: calc(-104px + (-140 + 104) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .sell-window__decor-blue

    &__decor-blue {
        position: absolute;
        width: 345px;        
        height: 345px;
        right: -62px;
        bottom: -193px;
        border-radius: 50%;
        background-color: #D2E5E9;

        @media (max-width: 991.98px) {
            width: calc(98px + (345 - 98) * ( (100vw - 320px) / (991.98 - 320)));
            height: calc(98px + (345 - 98) * ( (100vw - 320px) / (991.98 - 320)));

            right: calc(-13px + (-62 + 13) * ( (100vw - 320px) / (991.98 - 320)));
            top: -9px;
            bottom: auto;
        }
    }

    // .sell-window__wrapper

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        z-index: 99;
        width: 60%;
        margin-left: auto;

        padding: 20px 0;
        padding-right: 30px;

        @media (max-width: 991.98px) {
            padding: 20px 30px;
            width: 100%;
            justify-content: center;
        }
        @media (max-width: 480px) {
            padding: 30px 14px;
        }
    }

    // .sell-window__article

    &__article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 530px;
        width: 100%;
        margin-right: auto;
        @media (max-width: 991.98px) {
            margin: 0 auto;
        }
        z-index: 99;
    }

    // .sell-window__title

    &__title {
        margin-bottom: 4px;
        @media (max-width: 991.98px) {
            font-size: calc(18px + (40 - 18) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .sell-window__paragraph

    &__paragraph {
        @media (max-width: 991.98px) {
            font-size: calc(14px + (20 - 14) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }
}
.sell-search {
    width: 100%;
    height: 70px;
    @media (max-width: 991.98px) {
        height: calc(57px + (70 - 57) * ( (100vw - 320px) / (991.98 - 320)));
        margin-top: calc(24px + (36 - 24) * ( (100vw - 320px) / (991.98 - 320)));
    }
    position: relative;
    margin-top: 36px;
    border-radius: 7px;
    overflow: hidden;

    // .sell-search__input

    &__input {
        width: 100%;
        height: 100%;
        padding-left: 24px;
        @media (max-width: 991.98px) {
            padding-left: calc(14px + (24 - 14) * ( (100vw - 320px) / (991.98 - 320)));
            padding-right: calc(100px + (150 - 100) * ( (100vw - 320px) / (991.98 - 320)));
            font-size: calc(14px + (18 - 14) * ( (100vw - 320px) / (991.98 - 320)));
        }
        padding-right: 150px;

        font-weight: 500;
        font-size: 18px;

        &::placeholder {
            color: #8E8E8E;
        }
    }

    // .sell-search__button

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 24px;
        @media (max-width: 991.98px) {
            right: calc(14px + (24 - 14) * ( (100vw - 320px) / (991.98 - 320)));
            height: calc(30px + (50 - 30) * ( (100vw - 320px) / (991.98 - 320)));

            padding-left: calc(18px + (30 - 18) * ( (100vw - 320px) / (991.98 - 320)));
            padding-right: calc(18px + (30 - 18) * ( (100vw - 320px) / (991.98 - 320)));
        }
        height: 50px;
        padding: 0 30px;
        font-weight: 500;
        font-size: 16px;
    }
}
.sell-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    @media (max-width: 991.98px) {
        margin-top: calc(30px + (50 - 30) * ( (100vw - 320px) / (991.98 - 320)));
    }
    @media (max-width: 567.98px) {
        width: 100%;
    }

    // .sell-form__body

    &__body {
        display: flex;
        gap: 24px;
        @media (max-width: 567.98px) {
            flex-direction: column;
            width: 100%;
        }
    }

    // .sell-form__field

    &__field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;

        @media (max-width: 567.98px) {
            width: 100%;
        }

        @media (max-width: 991.98px) {
            gap: calc(4px + (14 - 4) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .sell-form__label

    &__label {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: $grey;

        @media (max-width: 991.98px) {
            font-size: calc(16px + (20 - 16) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .sell-form__input

    &__input {
        border: 1px solid $grey;
        height: 70px;
        @media (max-width: 991.98px) {
            height: calc(60px + (70 - 60) * ( (100vw - 320px) / (991.98 - 320)));
            font-size: calc(16px + (18 - 16) * ( (100vw - 320px) / (991.98 - 320)));

            padding-left: calc(4px + (30 - 4) * ( (100vw - 320px) / (991.98 - 320)));
            padding-right: calc(4px + (30 - 4) * ( (100vw - 320px) / (991.98 - 320)));
        }
        text-align: center;
        border-radius: 8px;
        padding: 0 34px;

        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        color: #AEAEAE;

        &::placeholder {
            color: #AEAEAE;
        }

        @media (max-width: 567.98px) {
            width: 100%;
        }
    }

    // .sell-form__button

    &__button {
        margin-top: 24px;

        @media (max-width: 567.98px) {
            width: 100%;
        }
    }
}

.footer {
    background-color: $space-gray;
    padding: 100px 0;
    margin-top: 150px;

    @media (max-width: 991.98px) {
        padding-top: calc(70px + (100 - 70) * ( (100vw - 320px) / (991.98 - 320)));
        padding-bottom: calc(70px + (100 - 70) * ( (100vw - 320px) / (991.98 - 320)));

        margin-top: calc(100px + (150 - 100) * ( (100vw - 320px) / (991.98 - 320)));
    }

    // .footer__container

    &__container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        @media (max-width: 555.98px) {
            gap: 50px;
        }
    }

    // .footer__logo

    &__logo {
        display: flex;
        max-width: 195px;

        svg {
            width: 100%;

            path {
                fill: $white;
            }
        }
    }

    // .footer__contact

    &__contact {
        @extend .header__contact;
        color: #BABABA;

        &:hover {
            color: $white;
        }

        @media (max-width: 991.98px) {
            order: 2;
            margin-left: 0;
            margin-right: auto;
        }

        @media (max-width: 555.98px) {
            order: 1;
            margin: 0 auto;
        }
    }
}
.footer-row {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;

    // .footer-row_first

    &_first {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: flex-start;

        @media (max-width: 991.98px) {
            grid-template-columns: 1fr 1fr auto;
        }

        @media (max-width: 655.98px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 555.98px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &_second {
        display: flex;
        justify-content: space-between;

        @media (max-width: 991.98px) {
            gap: 50px;
            display: grid;
            margin: 0 auto;
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 555.98px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.footer-menu {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;

    @media (max-width: 555.98px) {
        align-items: center;
    }

    // .footer-menu_social

    &_social {
        flex-direction: row;
        gap: 25px;
        @media (max-width: 991.98px) {
            order: 3;
            margin-left: auto;
        }
        @media (max-width: 555.98px) {
            order: 1;
            margin: 0 auto;
        }

        a {
            img {
                height: 30px;
            }
            transition: opacity ease-in-out $animSpeed;
            &:hover {
                opacity: .8;
            }
        }
    }

    // .footer-menu__el

    &__el {

        // .footer-menu__el_current

        &_current {
            pointer-events: none;
            .footer-menu__link {
                font-weight: 700;
                color: $white;
            }
        }
    }

    // .footer-menu__link

    &__link {
        font-weight: 500;
        font-size: 24px;
        color: #9B9A9A;
        transition: color ease-in-out $animSpeed;

        &:hover {
            color: $white;
        }
    }
}
.scroll-to-top {
    margin-left: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $white;
    transition: background-color ease-in-out $animSpeed;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #f7f7f7;
    }

    img {
        height: 50px;
    }

    @media (max-width: 991.98px) {
        order: 1;
    }
    @media (max-width: 655.98px) {
        display: none;
    }
}
.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    @media (max-width: 991.98px) {
        align-items: center;
    }

    a {
        transition: color ease-in-out $animSpeed;

        &:hover {
            color: $white;
        }
    }

    // .footer-info__text

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #BABABA;
    }
}
.footer-row_second {
    .scroll-to-top {
        @media (min-width: 655.98px) {
            display: none;
        }
        @media (max-width: 655.98px) {
            display: flex;
            grid-column: 1 / -1;
            margin: 0 auto;
        }
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #1E1E1E59;
    backdrop-filter: blur(1.5px);
    margin: 70px 0 !important;
    @media (max-width: 1200px) {
        padding-top: calc(12px + (70 - 12) * ( (100vw - 320px) / (1200 - 320))) !important;
        padding-bottom: calc(12px + (70 - 12) * ( (100vw - 320px) / (1200 - 320))) !important;
        padding-left: calc(28px + (30 - 28) * ( (100vw - 320px) / (1200 - 320))) !important;
        padding-right: calc(28px + (30 - 28) * ( (100vw - 320px) / (1200 - 320))) !important;

        margin-top: calc(12px + (70 - 12) * ( (100vw - 320px) / (1200 - 320))) !important;
        margin-bottom: calc(12px + (70 - 12) * ( (100vw - 320px) / (1200 - 320))) !important;

        border-radius: calc(6px + (14 - 6) * ( (100vw - 320px) / (1200 - 320))) !important;
    }
    border-radius: 14px !important;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px;
    } 
    &::-webkit-scrollbar-track {
        background: #D2E5E9;
        border-radius: 14px ;

        @media (max-width: 1200px) {    
            border-radius: calc(6px + (14 - 6) * ( (100vw - 320px) / (1200 - 320)));
        }
    }
    &::-webkit-scrollbar-thumb {
        background: $dark-blue;
        border-radius: 14px ;

        @media (max-width: 1200px) {    
            border-radius: calc(6px + (14 - 6) * ( (100vw - 320px) / (1200 - 320)));
        }
    }

    &__card {
        max-width: 837px;
        margin: 0 auto;

        
        background-color: $white;
        padding: 70px 50px;
    }

    .meet-article {
        display: flex;
    }

    // .popup__header

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (max-width: 991.98px) {
            gap: calc(12px + (30 - 12) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .popup__title

    &__title {
        font-weight: 500;
        font-size: 30px;
        @media (max-width: 1200px) {
            font-size: calc(14px + (30 - 14) * ( (100vw - 320px) / (1200 - 320)));
        }
        line-height: 118%;
        color: $grey;
    }

    // .popup__close-btn

    &__close-btn {
        width: 70px;
        @media (max-width: 1200px) {
            width: calc(28px + (70 - 28) * ( (100vw - 320px) / (1200 - 320)));
        }
        background-color: transparent;
        transition: opacity ease-in-out $animSpeed;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        &:hover {
            opacity: .6;
        }
    }

    // .popup__meet

    &__meet {
        display: flex;
        align-items: center;
        gap: 34px;
        @media (max-width: 991.98px) {
            gap: calc(20px + (34 - 20) * ( (100vw - 320px) / (991.98 - 320)));
            margin-top: calc(13px + (50 - 13) * ( (100vw - 320px) / (991.98 - 320)));
            margin-bottom: calc(24px + (50 - 24) * ( (100vw - 320px) / (991.98 - 320)));
        }

        margin: 50px 0;

        .meet-preview__image {
            max-width: 302px;
        }
    }

    .meet__title {
        @media (max-width: 991.98px) {
            font-size: calc(20px + (40 - 20) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }
    .meet__paragraph {
        @media (max-width: 991.98px) {
            font-size: calc(12px + (20 - 12) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }
}

.popup-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media (max-width: 1200px) {
        gap: calc(24px + (50 - 24) * ( (100vw - 320px) / (1200 - 320))) !important;
    }

    // .popup-form__body

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 27px;
        row-gap: 50px;
        @media (max-width: 991.98px) {
            row-gap: calc(14px + (50 - 14) * ( (100vw - 320px) / (991.98 - 320)));
        }
        @media (max-width: 767.98px) {
            display: flex;
            flex-direction: column;

        }
    }

    // .popup-form__field

    &__field {
        display: flex;
        flex-direction: column;
        gap: 14px;
        @media (max-width: 991.98px) {
            gap: calc(7px + (14 - 7) * ( (100vw - 320px) / (991.98 - 320)));
        }
        align-items: flex-start;

        &_name {
            grid-column: 1/-1;
        }
        &_namber {
            input {
                text-align: center;
            }
        }
    }

    // .popup-form__label

    &__label {
        font-weight: 500;
        font-size: 24px;
        line-height: 118%;
        color: $grey;

        @media (max-width: 991.98px) {
            font-size: calc(16px + (24 - 16) * ( (100vw - 320px) / (991.98 - 320)));
        }
    }

    // .popup-form__input

    &__input {
        height: 80px;
        @media (max-width: 991.98px) {
            height: calc(60px + (80 - 60) * ( (100vw - 320px) / (991.98 - 320)));
            padding-left: calc(24px + (34 - 24) * ( (100vw - 320px) / (991.98 - 320)));
            padding-right: calc(24px + (34 - 24) * ( (100vw - 320px) / (991.98 - 320)));

            font-size: calc(15px + (24 - 15) * ( (100vw - 320px) / (991.98 - 320)));
        }
        border: 1px solid #8E8E8E;
        border-radius: 4px;
        padding: 0 34px;
        width: 100%;

        font-weight: 400;
        font-size: 24px;
        line-height: 118%;

        color: $grey;

        &::placeholder {
            color: #8E8E8E;
        }
    }
}

.fancybox__container {
    max-width: 100vw !important;
    overflow: hidden !important;
}
.fancybox__slide {
    padding: 0 !important;
    padding: 0 30px !important;
    @media (max-width: 1200px) {
        padding-left: calc(15px + (30 - 15) * ( (100vw - 320px) / (1200 - 320))) !important;
        padding-right: calc(15px + (30 - 15) * ( (100vw - 320px) / (1200 - 320))) !important;    
    }
    margin: 0 !important;
}
.f-button.is-close-btn {
    display: none !important;
}
